<!DOCTYPE html>
<html>
<head>
    <title>Liste des playlists</title>
    <style>
        #playlist-list {
            height: 300px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <h1>Liste des playlists</h1>
    <ul id="playlist-list"></ul>

    <script>
        let offset = 0;
        let limit = 10;
    
        function fetchPlaylists() {
            fetch(`http://localhost:8081/api/playlist?offset=${offset}&limit=${limit}`)
                .then(response => response.json())
                .then(data => {
                    console.log('Playlists récupérées:', data);
                    const playlistList = document.getElementById('playlist-list');
                    data.playlists.forEach(playlist => {
                        const listItem = document.createElement('li');
                        const link = document.createElement('a');
                        link.textContent = playlist.name;
                        link.href = `/playlists/${playlist.id}`;
                        listItem.appendChild(link);
                        playlistList.appendChild(listItem);
                    });
                    offset += limit;
                })
                .catch(error => {
                    console.error('Une erreur s\'est produite lors de la récupération des playlists:', error);
                });
        }
    
        window.addEventListener('DOMContentLoaded', fetchPlaylists);
        window.addEventListener('scroll', () => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                fetchPlaylists();
            }
        });
    </script>
</body>
</html>
