<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test app</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">User list</h1>

        <button id="register" class="ui blue button" >Register</button>
        <button id="login" class="ui blue button" >Login</button>

        <hr>

        {% for user in user_list %}
        <div class="ui segment">
            <p class="ui big header">{{user.id }} | {{ user.name }}| {{ user.hashed_password }}</p>

            {% if user.is_checked == False %}
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <span class="ui green label">Completed</span>
            {% endif %}

            <a class="ui blue button" href="/update/{{ user.id }}">Update</a>
            <a class="ui red button" href="/delete/{{ user.id }}">Delete</a>
        </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        document.getElementById("register").onclick = function () {
            location.href = "/register";
        };
        document.getElementById("login").onclick = function () {
            location.href = "/login";
        };
    </script>

</body>

</html>