<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Audio Player</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>

</head>
<body>
    <h1>Spotify Audio Player</h1>

    <!--
    <div id="player">
        <img id="cover" src="" alt="Cover">
        <button id="playPause">Play</button>
        <audio id="audioPlayer" controls style="display: none;"></audio>
    </div>
    -->
    <!--
        SPOTIFY ET LE LIEN DE PREVIEW
    <script>
        document.getElementById('cover').src = "{{content.album.images[0].url}}";
        const audioPlayer = document.getElementById('audioPlayer');
        audioPlayer.src = "{{content.preview_url}}";
        const playPauseButton = document.getElementById('playPause');
            playPauseButton.addEventListener('click', () => {
                if (audioPlayer.paused) {
                    audioPlayer.play();
                    playPauseButton.textContent = 'Pause';
                } else {
                    audioPlayer.pause();
                    playPauseButton.textContent = 'Play';
                }
            });

            // Affichez le lecteur audio
            audioPlayer.style.display = 'block';

    </script>
    -->

    <!--
        YOUTUBE
<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=ooAv9fhFz46Ql0Gz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
-->

<!--
    SPOTIFY
<iframe src="https://open.spotify.com/embed/track/1q8gelFgFYUwoWpQV7WNCe?start=30&end=45" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" autoplay="1"></iframe>
-->




</body>



</html>